.idea/*
.idea/
rent-manager-frontend/node_modules/
rent-manager-frontend/dist/
rent-manager-frontend/.angular/
rent-manager-frontend/.env
rent-manager-frontend/.DS_Store
rent-manager-frontend/.idea

# Default ignored files
rent-manager-backend/.idea
rent-manager-backend/shelf/
rent-manager-backend/workspace.xml
# Editor-based HTTP Client requests
rent-manager-backend/httpRequests/
# Datasource local storage ignored files
rent-manager-backend/dataSources/
rent-manager-backend/dataSources.local.xml
rent-manager-backend/.env
