<form class="grid gap-4" [formGroup]="formGroup">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'users.form.name' | translate }}</mat-label>

    <input matInput [formControlName]="fields.Name" />

    @if (nameField?.hasError('required')) {
      <mat-error>
        {{ 'users.form.validation.nameRequired' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'users.form.email' | translate }}</mat-label>

    <input matInput type="email" [formControlName]="fields.Email" />

    @if (emailField?.hasError('required')) {
      <mat-error>
        {{ 'users.form.validation.emailRequired' | translate }}
      </mat-error>
    }

    @if (emailField?.hasError('email')) {
      <mat-error>
        {{ 'users.form.validation.emailInvalid' | translate }}
      </mat-error>
    }
  </mat-form-field>

  @if (!isReadonly) {
    <mat-form-field appearance="outline">
      <mat-label>{{ 'users.form.password' | translate }}</mat-label>

      <input matInput type="password" [formControlName]="fields.Password" />

      @if (passwordField?.hasError('required')) {
        <mat-error>
          {{ 'users.form.validation.passwordRequired' | translate }}
        </mat-error>
      }
    </mat-form-field>
  }

  <mat-form-field appearance="outline">
    <mat-label>{{ 'users.form.role' | translate }}</mat-label>

    <mat-select [formControlName]="fields.RoleId">
      @for (role of rolesSignal(); track role.id) {
        <mat-option [value]="role.id">
          {{ role.name }}
        </mat-option>
      }
    </mat-select>

    @if (roleIdField?.hasError('required')) {
      <mat-error>
        {{ 'users.form.validation.roleRequired' | translate }}
      </mat-error>
    }
  </mat-form-field>
</form>
