APP_NAME=rent-manager-backend
APP_ENV=local

HTTP_URL=0.0.0.0
HTTP_PORT=8080
HTTP_ALLOWED_ORIGINS=*

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=change_me
DB_NAME=rent-manager-db
DB_USER=root
DB_PASSWORD=change_me

# look at https://github.com/bagashiz/go-pos/tree/main

JWT_SECRET=this_is_a_secret_for_rent_manager
